<div class="btn-toolbar w-100" role="toolbar" aria-label="Toolbar with button groups">
    <div class="input-group w-100">
        <label class="input-group-text font-weight-bold" for="inputGroupSelect01">@(EnumType?.Name ?? "Loading")</label>
        <select class="form-select" id="inputGroupSelect01">
            <option selected @onclick="()=>Selected = 0">@(Values.FirstOrDefault()) = @(IntValues.FirstOrDefault())</option>
            @for (int i = 1; i < Names.Length; i++)
            {
                int tmp = i;
                <option value="tmp" @onclick="()=>Selected = tmp">@(Values[tmp]) = @(IntValues[tmp])</option>
            }
        </select>
    </div>
</div>