@implements IDisposable

@inject IJSRuntime java

<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasImport" aria-labelledby="offcanvasImportLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasSettingsLabel">
            Import Scripts
        </h5>

        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="d-flex justify-content-between">
            <div class="input-group">
                <InputFile OnChange="@LoadFiles" multiple />


            </div>
        </div>
        <div class="card text-center h-100">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <button class="nav-link @(SelectedTab == 0 ? "active" : "")" aria-current="true" @onclick="()=>SelectedTab=  0">Startup <span class="badge bg-success">@AssemblyDirector.ImportedAssemblies.Count</span></button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link @(SelectedTab == 2 ? "active" : "")" aria-current="true" @onclick="()=>SelectedTab=  1"><span class="oi oi-cog"></span></button>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                @switch (SelectedTab)
                {
                    case 0:
                        <AssemblyStartupSettingsCard></AssemblyStartupSettingsCard>
                        break;
                    case 1:
                        <ImportSettingsCard></ImportSettingsCard>
                        break;
                }
            </div>
        </div>
    </div>
</div>
@if (file != null)
{
    <UploadAssemblyModal FileInfo="@file"></UploadAssemblyModal>
}


@code {

}
